name: Django React CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Backend setup
      run: |
        cd backend
        python3 -m venv venv
        source venv/bin/activate
        pip install -r requirements.txt || true

    - name: Frontend setup
      run: |
        cd frontend/pdf-ai-frontend
        npm install || true
